# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
task_env/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment variables / secrets
.env
.env.*

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Build files
build/
dist/
*.egg-info/

# Static/media if generated locally
staticfiles/
media/